<div class="dashboard-container" [class.is-mobile]="mobileQuery.matches">

  <!-- empieza toolbar-->
  <mat-toolbar class="mat-primary dashboard-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon class="custom-icon">menu</mat-icon></button>

    <div class="right">
      <ul>
        <li>
          <button mat-icon-button>
          </button>
        </li>
        <li>
          <b class="app-logo">
            <!-- Agregar la imagen de fondo como fondo de este elemento -->
          </b>
        </li>
      </ul>
    </div>
    <button *ngIf="isMobile" mat-icon-button (click)="null">
      <mat-icon class="custom-icon">person_outline</mat-icon>
    </button>


  </mat-toolbar>

  <!-- empieza sidenav-->
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches? 'over': 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-nav-list>
        <!--profile-->

        <div class="profile-card">
          <div class="header">
            <mat-icon class="custom-icon">person_outline</mat-icon>
            <h3>Nombre</h3>
            <h3>Apellido</h3>
          </div>
        </div>


        <mat-divider></mat-divider>


        <ul>
          <ng-container *ngFor="let item of menuNav">
            <li>
           
              <span class="header" (click)="toggleSubMenu(item)">
                <span style="font-size: 13px;">{{ item.name  }}</span>
                <mat-icon *ngIf="item.subMenu" class="expand-icon">{{ item.subMenuVisible ? 'expand_less' :
                  'expand_more' }}</mat-icon>
              </span>
              <ul *ngIf="item.subMenuVisible" class="header">
                <li *ngFor="let subItem of item.subMenu">
                  <a mat-list-item [routerLink]="subItem.route">
                    <span style="font-size: 13px;">{{ subItem.name }}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ng-container>
        </ul>



      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
